.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-image: url("../../assets/abderrahmane-meftah-K31pxnUmaRE-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mainMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 800px;
  padding: 1rem;
  background-color: #ffffff1a;
  backdrop-filter: blur(10px);
  border-radius: 8px;
  padding: 4rem;
  border-radius: 1rem;
}

.photoCredit {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.8rem;
  color: white;
  background-color: #ffffff1a;
  backdrop-filter: blur(10px);
  padding: 0.5rem;
  border-radius: 4px;
}

.photoCredit a {
  color: white;
  text-decoration: none;
}

.photoCredit a:hover {
  text-decoration: underline;
}

