.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-image: url("../../assets/cadu-de-castro-alves-A85EFURRFLU-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mainMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 800px;
  padding: 1rem;
  background-color: #ffffff1a;
  backdrop-filter: blur(4px);
  border-radius: 8px;
  padding: 4rem;
}

.githubLink {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

.infoBox {
  position: fixed;
  right: 1rem;
  font-size: 0.8rem;
  color: white;
  background-color: #ffffff1a;
  backdrop-filter: blur(4px);
  padding: 0.5rem;
  border-radius: 8px;
}

.infoBox a {
  color: white;
  text-decoration: none;
}

.infoBox a:hover {
  text-decoration: underline;
}

.photoCredit {
  bottom: 4rem;
}

.aim {
  bottom: 1rem;
}

.clearCommContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.clearCommLogo {
  width: 50px;
  height: auto;
}

.errorMessage {
  color: #fce4e4;
  margin-top: 1.5rem;
  position: static;
}

@media (max-width: 600px) {
  .clearCommContainer {
    flex-direction: column;
    gap: 0.5rem;
  }
  .clearCommContainer h1 {
    font-size: 2.5rem;
    line-height: 1.1;
    text-align: center;
    margin: 0;
  }
  .mainMenu {
    padding: 2rem;
    max-width: 95%;
  }
}

.majorMonoDisplayRegular {
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;
}
