body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url(./assets/abderrahmane-meftah-K31pxnUmaRE-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.main-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 800px;
  padding: 1rem;
  background-color: #ffffff1a;
  backdrop-filter: blur(10px);
  border-radius: 8px;
  padding: 4rem;
  border-radius: 1rem;
}

.photo-credit {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.8rem;
  color: white;
  background-color: #ffffff1a;
  backdrop-filter: blur(10px);
  padding: 0.5rem;
  border-radius: 4px;
}

.photo-credit a {
  color: white;
  text-decoration: none;
}

.photo-credit a:hover {
  text-decoration: underline;
}
